
/*
 *  Stacked.css
 *  Chill Pill
 *
 *  Created by Nicholas Penree on 7/20/09.
 *  Copyright 2009 Conceited Software. All rights reserved.
 */

.temperature {
	font-size: 18px!important;
	left: -95px!important;
	top: -14px!important;
}

.notches {
	margin-left: 10px!important;
}

#fever {
	left: 8px!important;
	width: 0px!important;
}

#logo {
    display:none!important;
}

#fluid {
	left:22px!important;
	position: relative!important;
}

.fluid.show-feeds.hot #content-container {
	margin-left: 335px!important;
}

.fluid.show-feeds #feeds-container {
	left:0px!important;
	top: 300px!important;
}

#feeds-scroller .box-list li {
width: 246px!important;
}

ul#feeds-alpha {
    top: 30px!important;
    left: 0px!important;
}

div.box.link {
	margin-right: 5px!important;
	margin-left: -144px!important;
}

.fluid.show-feeds #content-container {
	margin-left: 290px!important;
	margin-right: 40px!important;
}


div#groups {
	width: 245px!important;
}

 div#status {
    margin-top: 10px!important;
	width: 254px!important;
}

 div#update-container {
    margin-top: 10px!important;

}

.container {
    padding-left: 22px!important;
}

/* Custom styles */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #content-container,
    .fluid #content-container,
    .fluid.show-feeds.hot #content-container { margin-left: 10px!important;margin-right:10px!important}
    .container {padding-left: 0!important;}
    #fixed {display: none!important;}

    .item-content {
        font-size: 28px!important;
        line-height: 36px!important;
        margin: 10px 50px 40px!important;
    }

    .meta h1, .meta h1 {
        font-size: 32px!important;
        line-height: 1.4!important;
        margin: 30px 50px 13px!important;
    }

    .posted {
    display: none;
    }
    
    .item .meta h2 a {
        font-size: 22px!important;
        line-height: 1.2!important;
    }

    .item .meta h2 {
    padding-left: 18px!important;
    }

    .meta .favicon {
    margin-left: 10px;
}
    .meta .state {
    top: 72px!important;
}

.source-list li .favicon {
        top: 14px;
    }

    .source-list li {
        background-image: none!important;
        background-color: #F2F2F2!important;
        border-top: 1px solid lightgray!important;    
}
    .source-list li .source {
       font-size: 200%;
       padding-top: 10px!important;
       padding-bottom: 10px!important;
        background-image: none!important;
        background-color: #F2F2F2;
    }
    
    .fluid.show-feeds #content-container {
	margin-left: 10px!important;
	margin-right: 10px!important;
}

}

#fixed {display: block;}